<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  
    <link rel="shortcut icon" href="#" />
  
    <style>
      .container {
          width: 100%;
          height: 100%;
      }
      .form-container {
        width: 50vw;
      }
      form {
        display: grid;
      }

      .save-button {
        margin-top: 20px;
      }
    </style>
  </head>

<div class="container">
    <header>
        <h1>Cadastrar Relacões</h1>
    </header>
    <main class="form-container">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Save" class="save-button">
        </form>
    </main>
</div>
